<div class="max-w-sm shadow-lg rounded-lg overflow-hidden h-full member-card">
	<div class="h-full">
		<div class="card-image-wrapper">
			<img
				class="w-full h-56 object-cover object-center"
				src="{{ member.photoUrl || './assets/img/user.png' }}"
				alt="avatar"
			/>
			<ul class="list-none member-icons animate text-center flex justify-between mx-3">
				<li class="inline">
					<button class="text-white font-bold uppercase px-2 py1" routerLink="/members/{{ member.username }}">
						<fa-icon [icon]="userIcon"></fa-icon>
					</button>
				</li>
				<li class="inline">
					<button class="text-white font-bold uppercase px-2 py1">
						<fa-icon [icon]="thumbsUpIcon"></fa-icon>
					</button>
				</li>
				<li class="inline">
					<button class="text-white font-bold uppercase px-2 py1">
						<fa-icon [icon]="messageIcon"></fa-icon>
					</button>
				</li>
			</ul>
		</div>
		<div class="pl-1">
			<div class="flex flex-wrap justify-center align-middle items-center">
				<h3 class="text-xl font-semibold text-gray-800">{{ member.knownAs }}</h3>
				<h3 class="text-xl font-semibold text-gray-800 pl-3">Age: {{ member.age }}</h3>
			</div>
			<h1 class="text-sm font-semibold text-gray-800">{{ member.city }}, {{ member.state }}</h1>
		</div>
	</div>
</div>
