nav {
	background-color: var(--primary-white);

	.active {
		border-top: blue;
		--tw-text-opacity: 1;
		color: rgba(79, 70, 229, var(--tw-text-opacity));
	}
}

.drop-down-nav {
	z-index: 1000;
}
img {
	max-height: 50px;
	border: 2px solid #000;
	display: inline;
}
