<nav class="grid grid-flow-col shadow-md mx-auto my-auto py-3 align-middle">
	<div class="flex flex-row justify-center items-center">
		<h3>
			<a routerLink="/" class="text-black hover:text-gray-400 hover:no-underline visited:text-black">Share My Place</a>
		</h3>
	</div>
	<div class="flex flex-row justify-between items-center pr-3">
		<ng-container *ngIf="this.accountService.currentUser$ | async">
			<div>
				<a
					routerLink="/members"
					routerLinkActive="active"
					class="text-black hover:text-gray-400 hover:no-underline visited:text-black"
					>Members</a
				>
			</div>
			<div>
				<a
					routerLink="/lists"
					routerLinkActive="active"
					class="text-black hover:text-gray-400 hover:no-underline visited:text-black"
					>Places</a
				>
			</div>
			<div>
				<a
					routerLink="/messages"
					routerLinkActive="active"
					class="text-black hover:text-gray-400 hover:no-underline visited:text-black"
					>Messages</a
				>
			</div>
		</ng-container>
		<div *ngIf="isErrorLinksVisible">
			<a
				routerLink="/errors"
				routerLinkActive="active"
				class="text-black hover:text-gray-400 hover:no-underline visited:text-black"
				>Errors Testing</a
			>
		</div>
	</div>
	<div *ngIf="(this.accountService.currentUser$ | async) === null">
		<form
			#loginForm="ngForm"
			class="flex flex-row justify-center items-center pr-3"
			(ngSubmit)="login()"
			autocomplete="off"
			autocapitalize="off"
		>
			<div class="pr-2">
				<input
					type="text"
					placeholder="Username"
					[(ngModel)]="model.username"
					name="username"
					required
					class="placeholder-black-50::placeholder text-center"
				/>
			</div>
			<div class="pr-2">
				<input
					type="password"
					placeholder="Password"
					[(ngModel)]="model.password"
					name="password"
					required
					class="placeholder-black-50::placeholder text-center"
				/>
			</div>
			<div>
				<button class="rounded bg-blue-500 hover:bg-blue-700 py-2 px-4 text-white" type="submit">Login</button>
			</div>
		</form>
	</div>
	<div *ngIf="this.accountService.currentUser$ | async as user" class="flex flex-row justify-end align-bottom pr-3">
		<img src="{{ user.photoUrl }}" alt="{{ user.username }}" />
		<div class="relative inline-block text-left pl-3 self-end">
			<div class="row">
				<div class="col">
					<div ngbDropdown class="d-inline-block">
						<button
							class="py-2 px-4 bg-transparent text-black font-semibold border border-red-600 rounded hover:bg-red-600 hover:text-red-600 hover:border-transparent transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
							id="dropdownBasic1"
							ngbDropdownToggle
						>
							<span *ngIf="currentUser">Welcome {{ user.knownAs | titlecase }} </span>
							<span *ngIf="!currentUser">Welcome </span>
						</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<a
								[routerLink]="['/member/edit']"
								routerLinkActive="router-link-active"
								class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
								role="menuitem"
								>Edit Profile</a
							>
							<button
								class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
								role="menuitem"
								(click)="showErrorLinks()"
								*ngIf="devEnv"
							>
								<span *ngIf="isErrorLinksVisible; then visableErrorLinks; else hiddenErrorLinks"></span> Error Test
							</button>
							<button
								class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
								role="menuitem"
								(click)="logout()"
							>
								Sign out
							</button>
						</div>
					</div>
				</div>
			</div>
			<div
				class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 drop-down-nav"
				*ngIf="showOptionsMenu"
			></div>
		</div>
	</div>
</nav>

<ng-template #visableErrorLinks>
	<span>Disable</span>
</ng-template>

<ng-template #hiddenErrorLinks>
	<span>Enable</span>
</ng-template>
