<div class="row mb-4">
	<div class="btn-group">
		<div class="btn-group btn-group-toggle pl-5">
			<button class="btn btn-primary" type="button" (click)="selectButton('Unread')">
				<fa-icon [icon]="unopenIcon" class="pr-2"></fa-icon>Unread
			</button>
			<button class="btn btn-primary" type="button" (click)="selectButton('Inbox')">
				<fa-icon [icon]="openIcon" class="pr-2"></fa-icon>Inbox
			</button>
			<button class="btn btn-primary" type="button" (click)="selectButton('Outbox')">
				<fa-icon [icon]="outboxIcon" class="pr-2"></fa-icon>Outbox
			</button>
		</div>
	</div>
</div>

<div class="row justify-content-center pb-5" *ngIf="messages?.length === 0 && !loading">
	<h3 class="text-center">No unread Messages.</h3>
</div>

<div class="row m-auto" *ngIf="messages && messages.length > 0 && !loading">
	<table class="table table-hover" style="cursor: pointer">
		<tr>
			<th style="width: 40%">Message</th>
			<th style="width: 20%">From / To</th>
			<th style="width: 20%">Sent / Received</th>
			<th style="width: 20%">Message</th>
		</tr>
		<tr
			*ngFor="let message of messages"
			routerLink="{{
				container === 'Outbox' ? '/members/' + message.recipientUsername : '/members/' + message.senderUsername
			}}"
			[queryParams]="{ tab: 4 }"
		>
			<td>{{ message.content }}</td>
			<td>
				<div *ngIf="container === 'Outbox'">
					<img
						class="img-circle rounded-circle mr-2"
						src="{{ message.recipientPhotoUrl || './assets/user.png' }}"
						alt="Photo of {{ message.recipientUsername }}"
					/>
					<strong>{{ message.recipientUsername }}</strong>
				</div>
				<div *ngIf="container !== 'Outbox'">
					<img
						class="img-circle rounded-circle mr-2"
						src="{{ message.senderPhotoUrl || './assets/user.png' }}"
						alt="Photo of {{ message.senderUsername }}"
					/>
					<strong>{{ message.senderUsername }}</strong>
				</div>
			</td>
			<td>{{ message.messageSent | timeago }}</td>
			<td>
				<button (click)="$event.stopPropagation()" class="btn btn-danger" (click)="deleteMessage(message.id)">
					Delete
				</button>
			</td>
		</tr>
	</table>
</div>

<div class="flex flex-row justify-center align-middle" *ngIf="pagination && !loading && messages.length > 0">
	<ngb-pagination
		[collectionSize]="pagination.totalItems"
		[(page)]="userParams.pageNumber"
		[maxSize]="pagination.totalPages"
		[pageSize]="pagination.itemsPerPage"
		(pageChange)="pageChanged($event)"
		[rotate]="true"
		[ellipses]="false"
		[boundaryLinks]="true"
	></ngb-pagination>
</div>
