@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
:root {
	--primary-light-red: #e5383b;
	--primary-red: #ba181b;
	--primary-dark-red: #a4161a;
	--primary-darkest-red: #660708;
	--primary-lightest-orange: #ffb700;
	--primary-light-orange: #ffaa00;
	--primary-orange: #ffa200;
	--primary-darker-orange: #ff9500;
	--primary-darker-orange: #ff8800;
	--primary-darkest-orange: #ff7b00;

	--primary-light: #edddd4;
	--primary-teal: #a8dadc;
	--primary-blue: #457b9d;
	--primary-dark-blue: #1d3557;
	--primary-black: #0a0908;
	--primary-white: #f8f8ff;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
