<div *ngIf="member" class="mx-2 mt-2">
	<div class="grid grid-cols-12 grid-rows-1 grid-flow-col">
		<div class="col-span-3 pt-2 border-solid border-2">
			<!-- <div class="grid grid-rows-3 auto-rows-min gap-0"> -->
			<div class="flex- flex-row flex-wrap container">
				<div><img class="w-full h-56 object-cover object-center" src="{{ member.photoUrl }}" alt="avatar" /></div>
				<div>
					<div>
						<h1 class="text-sm font-semibold text-gray-800">Location:</h1>
						<p class="text-sm">{{ member.city }}, {{ member.state }}</p>
					</div>
					<div>
						<h1 class="text-sm font-semibold text-gray-800">Age:</h1>
						<p class="text-sm">{{ member.age }}</p>
					</div>
					<div>
						<h1 class="text-sm font-semibold text-gray-800">Last Active:</h1>
						<p class="text-sm">{{ member.lastActive }}</p>
					</div>
					<div>
						<h1 class="text-sm font-semibold text-gray-800">Last Active:</h1>
						<p class="text-sm">{{ member.created }}</p>
					</div>
				</div>
				<div class="grid grid-cols-2">
					<button class="like-button bg-red-500">Like</button>
					<button class="message-button bg-yellow-500">Message</button>
				</div>
			</div>
		</div>
		<div class="col-span-9">Test 2</div>
	</div>
</div>
