<form [formGroup]="registerForm" autocapitalize="off" autocomplete="off">
	<div class="bg-grey-lighter min-h-screen flex flex-col">
		<div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
			<div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
				<h1 class="mb-8 text-3xl text-center">Sign up</h1>

				<input
					type="text"
					class="block border border-grey-light w-full p-3 rounded mb-4"
					name="username"
					placeholder="Username"
					required
					minlength="3"
					formControlName="username"
				/>
				<p *ngIf="username?.invalid && username?.touched" class="text-red-500">Your username doesn't look right</p>
				<input
					type="password"
					class="block border border-grey-light w-full p-3 rounded mb-4"
					name="password"
					placeholder="Password"
					required
					minlength="3"
					formControlName="password"
				/>
				<p *ngIf="password?.invalid && password?.touched" class="text-red-500">
					Your password must be longer than 5 characters
				</p>
				<input
					type="password"
					class="block border border-grey-light w-full p-3 rounded mb-4"
					name="confirmPassword"
					placeholder="Confirm Password"
					required
					minlength="3"
					formControlName="confirmPassword"
				/>
				<p *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="text-red-500">
					Your must be longer than 5 characters
				</p>
				<p *ngIf="passwordsMatch.formSubmitted && !passwordsMatch.passwordsSame" class="text-red-500 text-center">
					Password do not match.
				</p>
				<div class="flex flex-row flex-wrap justify-center items-center">
					<button
						type="submit"
						class="rounded-sm bg-blue-500 hover:bg-blue-700 px-4 py-2 text-white mr-1"
						[disabled]="registerForm.invalid"
						(click)="register()"
					>
						Create Account
					</button>
					<button type="button" class="rounded-sm bg-red-500 hover:bg-red-700 px-4 py-2 text-white" (click)="cancel()">
						Cancel
					</button>
				</div>
				<div class="text-grey-dark mt-6">
					Already have an account?
					<a class="no-underline border-b border-blue text-blue" href="/"> Log in </a>.
				</div>
			</div>
		</div>
	</div>
</form>
